* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.header {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0;
  padding-top: 20px;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__menu-list li {
  list-style: none;
}

.header__menu-list li:not(:last-child) {
  margin: 0 35px 0 0px;
}

.header__menu-link {
  font-size: 15px;
  color: white;
  padding-bottom: 4px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}

.header__menu-link:hover {
  border-bottom: 1px solid white;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 35px 0;
  background: #2a3039;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  font-size: 24.5px;
  color: #dad9d9;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list li:not(:last-child) {
  margin-right: 15px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  font-size: 27px;
  color: white;
  background-color: #fcb040;
  border-radius: 2px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  border: 2px solid #fcb040;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 17px 30px;
}

.button:hover {
  background: transparent;
}

.title {
  font-size: 32px;
  color: #444e5d;
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  font-size: 25px;
  color: #4d5866;
  line-height: 1.492;
}

.top {
  position: relative;
}

.top__buttons .button:nth-child(1) {
  margin-right: 40px;
}

.top__container {
  position: relative;
}

.top__slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 130px;
}

.top__slide-body {
  max-width: 637px;
  padding: 75px 0 140px 40px;
}

.top__slide-img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.top__slide-img img {
  max-width: 100%;
}

.top__title {
  font-size: 32px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.688;
  margin-bottom: 40px;
}

.top__text {
  font-size: 25px;
  color: white;
  font-weight: 400;
  line-height: 1.688;
  margin-bottom: 30px;
}

.top__pagination {
  position: absolute;
  bottom: 61px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.top__pagination .swiper-pagination-bullet {
  width: 18px;
  border-radius: 50%;
  height: 18px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
  cursor: pointer;
  background: white;
}

.top__pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 15px;
}

.top__pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
  background: #e0e0e0;
}

.top__pagination .swiper-pagination-bullet-active {
  background: #fcb040;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.top-button-prev,
.top-button-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 18px 35px;
  border: 2px solid white;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
}

.top-button-prev:hover,
.top-button-next:hover {
  background: #575757;
}

.top-button-prev {
  left: 7.3%;
}

.top-button-next {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  right: 7.3%;
}

.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.developers {
  padding: 105px 0 95px 0;
  background: url("../img/developers/bg.jpg") no-repeat top center/cover;
}

.developers__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.developers__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.developers__img {
  padding-left: 15px;
}

.developers__img img {
  max-width: 100%;
}

.developers__button:nth-child(1) {
  margin-right: 40px;
}

.developers__button:hover {
  color: #444e5d;
}

.text-block__title {
  margin-bottom: 10px;
}

.text-block__subtitle {
  margin-bottom: 30px;
  font-size: 27px;
  color: #eba032;
}

.text-block__text {
  margin-bottom: 25px;
}

.network {
  padding: 90px 0 130px 0;
  background: url("../img/network/bg.jpg") no-repeat top right/cover;
}

.network__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.network__title {
  margin-bottom: 80px;
  text-align: center;
}

.network__title span {
  display: block;
}

.network__items {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px;
}

.network__item {
  margin: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 18%;
          flex: 1 1 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  color: #2e3540;
}

.network__link img {
  width: 50px;
  margin-right: 5px;
  height: 50px;
}

.network__button {
  font-size: 25px;
  color: #606e80;
}

.network__button:hover {
  text-decoration: underline;
}

.benefits {
  padding: 90px 0;
  background: url("../img/benefits/bg.jpg") no-repeat top right/cover;
}

.benefits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__title {
  color: white;
  text-align: center;
  margin-bottom: 45px;
}

.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 30px;
  margin-bottom: 50px;
}

.benefits__item-title {
  margin-bottom: 20px;
  font-size: 26px;
  color: #5c6877;
  text-transform: uppercase;
  padding-left: 35px;
  background: url("../img/benefits/ok.png") no-repeat left 2px/24px;
}

.benefits__item-text {
  color: white;
}

.benefits__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.dashboard {
  padding: 80px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1f1f1;
}

.dashboard__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.dashboard__board {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(((100vw - 20px) * 0.48) + 10px);
          flex: 0 0 calc(((100vw - 20px) * 0.48) + 10px);
  padding: 0 0 30% 0;
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  border-radius: 30px 0 0 30px;
  overflow: hidden;
}

.dashboard__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider {
  padding: 100px 0 50px 0;
  position: relative;
  background: url("../img/slider/bg.jpg") no-repeat top left/cover;
}

.slider__title {
  margin-bottom: 180px;
  text-align: center;
  font-size: 32px;
}

.slider__container {
  width: 100%;
  height: 100%;
  padding-bottom: 180px;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__slide {
  width: 278px;
  height: 494px;
}

.slider__pagination {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.slider__pagination .swiper-pagination-bullet {
  width: 18px;
  border-radius: 50%;
  height: 18px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
  cursor: pointer;
  background: #b6b9be;
}

.slider__pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 15px;
}

.slider__pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
  background: #e0e0e0;
}

.slider__pagination .swiper-pagination-bullet-active {
  background: #fcb040;
}

.slider__phone {
  position: absolute;
  left: calc(50% - 2px);
  top: 213px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.products {
  padding: 90px 0;
  background: url("../img/products/bg.jpg") no-repeat top center/cover;
}

.products__body {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__title {
  margin-bottom: 50px;
  color: #dad9d9;
}

.products__title span {
  color: #fcb040;
}

.products__text {
  margin-bottom: 50px;
  color: white;
  color: #dad9d9;
}

.products__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 991.98px) {
  .dashboard__body {
    width: 50%;
  }
}

@media (min-width: 1212px) {
  .header__menu-button {
    padding: 10px 20px;
    border-radius: 45px;
    border-bottom: 0px;
  }

  .header__menu-button:hover {
    background: #fcb040;
    border-bottom: 0px;
  }
}

@media (max-width: 1700px) {
  .top-button-prev,
  .top-button-next {
    display: none;
  }
}

@media (max-width: 1212px) {
  ._container {
    max-width: 970px;
  }

  .header__menu-list li {
    margin: 0;
  }

  .header {
    padding-top: 23px;
    padding-bottom: 10px;
  }

  .header._active:before {
    background: #2a3039;
  }

  .menu__body {
    overflow-x: hidden;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #2a3039;
    padding: 140px 24px 100px 24px;
  }

  .menu__body._active {
    left: 0;
  }

  .header__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
  }

  .header__menu-list li {
    padding: 0px 0px 35px 0px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .top__slide-container {
    padding-top: 110px;
  }

  .developers__img {
    padding-left: 30px;
  }

  .benefits__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
}

@media (max-width: 1212px) and (max-width: 1212px) {
  .header__menu-list {
    max-width: 970px;
  }
}

@media (max-width: 1212px) and (max-width: 991.98px) {
  .header__menu-list {
    max-width: 750px;
  }
}

@media (max-width: 1212px) and (max-width: 767.98px) {
  .header__menu-list {
    max-width: none;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 880));
  }

  .text {
    font-size: calc(20px + 5 * ((100vw - 320px) / 880));
  }

  .top__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 880));
  }

  .top__text {
    font-size: calc(20px + 5 * ((100vw - 320px) / 880));
  }

  .benefits__item-title {
    font-size: calc(21px + 5 * ((100vw - 320px) / 880));
  }

  .slider__title {
    font-size: calc(32px + 0 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .top__slide-container {
    padding-top: 90px;
  }

  .top__slide-body {
    padding: 75px 0 130px 0;
  }

  .top__slide-img {
    display: none;
  }

  .top__title {
    margin-bottom: 30px;
  }

  .developers__column:nth-child(2) {
    display: none;
  }

  .developers {
    padding: 80px 0;
  }

  .network__title {
    margin-bottom: 60px;
  }

  .network__items {
    margin-bottom: 55px;
  }

  .network__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42%;
            flex: 1 1 42%;
    margin-bottom: 20px;
  }

  .network {
    padding: 80px 0 110px 0;
  }

  .benefits__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .benefits {
    padding: 80px 0;
  }

  .dashboard__board {
    display: none;
  }

  .dashboard {
    padding: 70px 0;
  }

  .slider__title {
    margin-bottom: 160px;
  }

  .slider__container {
    padding-bottom: 160px;
  }

  .slider__phone {
    top: 153px;
  }

  .slider {
    padding: 60px 0 50px 0;
  }

  .products__title {
    margin-bottom: 40px;
  }

  .products__text {
    margin-bottom: 40px;
  }

  .products {
    padding: 80px 0;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .top__slide-container {
    padding-top: 70px;
  }

  .top__pagination {
    bottom: 41px;
  }

  .benefits__item-title {
    background: url("../img/benefits/ok.png") no-repeat left top/21px;
  }

  .products__title {
    margin-bottom: 30px;
  }

  .products__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 575.98px) {
  .footer__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__column:nth-child(1) {
    margin-bottom: 25px;
  }

  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .button {
    font-style: 20px;
    padding: 12px 25px;
  }

  .top__buttons .button:nth-child(1) {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .top__slide-container {
    padding-top: 50px;
  }

  .top__title {
    margin-bottom: 20px;
  }

  .developers__button:nth-child(1) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .developers {
    padding: 60px 0;
  }

  .network__title {
    margin-bottom: 45px;
  }

  .network__items {
    margin-bottom: 40px;
  }

  .network__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
  }

  .network {
    padding: 60px 0 90px 0;
  }

  .benefits {
    padding: 60px 0;
  }

  .dashboard {
    padding: 60px 0;
  }

  .slider__title {
    margin-bottom: 50px;
  }

  .slider__container {
    padding-bottom: 50px;
  }

  .slider__phone {
    display: none;
  }

  .slider {
    padding: 60px 0 40px 0;
  }

  .products {
    padding: 60px 0;
  }
}
@supports (-webkit-appearance:none){
.developers{background:url("../img/developers/bg.webp") no-repeat top center/cover}
.network{background:url("../img/network/bg.webp") no-repeat top right/cover}
.benefits{background:url("../img/benefits/bg.webp") no-repeat top right/cover}
.benefits__item-title{background:url("../img/benefits/ok.webp") no-repeat left 2px/24px}
.slider{background:url("../img/slider/bg.webp") no-repeat top left/cover}
.products{background:url("../img/products/bg.webp") no-repeat top center/cover}
}

 @media (min-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1212px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1700px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1212px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1212px) and (max-width: 1212px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1212px) and (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1212px) and (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){
.benefits__item-title{background:url("../img/benefits/ok.webp") no-repeat left top/21px}
}

}

 @media (max-width: 575.98px){

@supports (-webkit-appearance:none){

}

}
